#calculator-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Left side */
.calculator-inputs {
  display: flex;
  padding: 5rem;
}
.calculator-inputs h3 {
  text-align: center;
}

.calculator-inputs input,
.calculator-inputs select {
  height: 3.5rem;
  width: 8.5rem;
  font-size: 1.4rem;
  padding-left: 1rem;
  margin: 1.2rem;
}

.calc-input {
  display: flex;
  width: 50%;
  flex-direction: column;
}

/* Right side */
.calculator-result {
  align-self: flex-start;
  text-align: center;
  padding-top: 5rem;
}

.calculator-result h1 {
  font-size: 12rem;
  font-weight: 500;
}

.calculator-result h2 {
  font-weight: 300;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  opacity: 0.9;
  background: #00adb5;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  opacity: 0.7;
  background: #010808;
}

.modal-footer {
  opacity: 0.9;
  background: #00adb5;
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  text-align: center;
}