main {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 85%;
  margin: auto;
}

#home-text {
  margin-right: 4rem;
}

#home-text h1 {
  margin-bottom: 0.5rem;
}

#home-text h3 {
  font-weight: normal;
}

.home-headers {
  animation: slide-right 600ms ease-in-out both;
}

.about {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  animation: slide-right 600ms 300ms ease-in-out both;
}

.about i {
  color: #00adb5;
}

.about p {
  margin-top: 1rem;
  padding: 0 1.3rem;
}

.form-content {
  border: 1px solid #00adb5;
  border-radius: 10px;
  display: inline-block;
  padding: 4rem;
  animation: slide-down 600ms 700ms ease-in-out both;
}

.form-content h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  margin-top: 1rem;
}

.form-group label {
  font-size: 0.9rem;
}

.form-input input {
  margin: 0.5rem 0;
  width: 100%;
  padding: 10px;
}
