/* Main Homepage */
#jumbotron {
  border: #00adb5 3px solid;
  display: flex;
  height: 99vh;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

#jumbotron .jumbotron-text {
  animation: slide-up 500ms both ease-in-out;
}

#jumbotron .logout {
  font-size: 1rem;
  text-decoration: none;
}

#jumbotron .jumbotron-text h1 {
  font-size: 4.3rem;
}

#jumbotron .jumbotron-text h2 {
  font-weight: normal;
  color: #f0f5f9;
}

#jumbotron .jumbotron-text p {
  font-size: 2rem;
  font-weight: lighter;
}

#jumbotron .jumbotron-buttons {
  display: flex;
  justify-content: center;
}

#jumbotron .jumbotron-buttons a {
  animation: slide-up 1000ms 400ms both;
}
